h1 {
	color: hotpink;
	font-family: cursive;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 1px solid black;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
}
