h1 {
	color: hotpink;
	font-family: cursive;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 1px solid black;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}
body {
	margin: 0;
}
.item {
	background-color: rgb(169, 206, 206);
	width: 500px;
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: solid black 1px;
	padding: 20px;
}
.title {
	font-size: 50;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.genere {
	font-size: x-large;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desk {
	font-size: x-large;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
